workflows/foundation_ai_content_factory.json
{
  "name": "Foundation AI Content Factory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-factory",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "content-factory-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst url = (body.url || '').trim();\nconst text = (body.text || '').trim();\nif (!url && !text) throw new Error('Потрібно url або text');\nreturn [{ json: { url, text } }];"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "command": "=node \"{{ $env.SCRIPT_DIR || '/data/ai-content-factory' }}/scripts/format_text.js\" {{ $json.url ? '--url \"' + $json.url + '\"' : '' }} {{ $json.text ? '--text \"' + $json.text.replace(/\"/g, '\\\\\"') + '\"' : '' }}"
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Format Text",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '{}';\nlet data;\ntry { data = JSON.parse(raw.trim()); } catch (e) { throw new Error('format_text parse: ' + raw.slice(0, 200)); }\nif (!data.ok) throw new Error(data.error || 'format_text failed');\nreturn [{ json: data }];"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Parse Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "command": "=node \"{{ $env.SCRIPT_DIR || '/data/ai-content-factory' }}/scripts/gemini_cached.js\" --input \"{{ $json.text.replace(/\"/g, '\\\\\"').replace(/\\n/g, ' ') }}\""
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Gemini Cached",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '{}';\nlet data;\ntry { data = JSON.parse(raw.trim()); } catch (e) { throw new Error('gemini parse: ' + raw.slice(0, 200)); }\nif (!data.ok) throw new Error(data.error || 'gemini failed');\nconst theses = Array.isArray(data.theses) ? data.theses : [];\nconst caption = [\n  data.short_post,\n  '',\n  '📌 Тези:',\n  ...theses.map(t => '• ' + t),\n  '',\n  '💬 Експерт:',\n  data.expert_opinion\n].join('\\n');\nconst imagePrompt = (data.short_post || 'ukrainian social media').slice(0, 400);\nreturn [{ json: { ...data, caption, imagePrompt, imageUrl: 'https://image.pollinations.ai/prompt/' + encodeURIComponent(imagePrompt) + '?width=1024&height=1024&nologo=true' } }];"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Build Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendPhoto",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, photo: $('Build Output').item.json.imageUrl, caption: $('Build Output').item.json.caption.slice(0, 1024) }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ platform: 'twitter', post: $('Build Output').item.json.short_post, stub: true }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Stub Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ platform: 'linkedin', post: $('Build Output').item.json.expert_opinion, stub: true }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Stub LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ platform: 'facebook', post: $('Build Output').item.json.short_post, stub: true }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Stub Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, cached: $('Build Output').item.json.cached, theses: $('Build Output').item.json.theses, short_post: $('Build Output').item.json.short_post, expert_opinion: $('Build Output').item.json.expert_opinion, imageUrl: $('Build Output').item.json.imageUrl }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [[{ "node": "Format Text", "type": "main", "index": 0 }]]
    },
    "Format Text": {
      "main": [[{ "node": "Parse Format", "type": "main", "index": 0 }]]
    },
    "Parse Format": {
      "main": [[{ "node": "Gemini Cached", "type": "main", "index": 0 }]]
    },
    "Gemini Cached": {
      "main": [[{ "node": "Build Output", "type": "main", "index": 0 }]]
    },
    "Build Output": {
      "main": [[{ "node": "Telegram", "type": "main", "index": 0 }]]
    },
    "Telegram": {
      "main": [[{ "node": "Stub Twitter", "type": "main", "index": 0 }]]
    },
    "Stub Twitter": {
      "main": [[{ "node": "Stub LinkedIn", "type": "main", "index": 0 }]]
    },
    "Stub LinkedIn": {
      "main": [[{ "node": "Stub Facebook", "type": "main", "index": 0 }]]
    },
    "Stub Facebook": {
      "main": [[{ "node": "Respond Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
